body {
    background: url("../images/Background.jpg");
    background-size: 4000px 4000px;
    background-repeat: no-repeat;
    line-height: 60px;
    margin: 20px;
}

h2 {
    color: white;
    font-size: 80px;
    font-family: 'Chicle', cursive;

}
p {
    color: white;
    font-size: 30px;  

}